<div class="all-container">
  <div fxFlex="70%" fxFlex.xs="95%" fxFlex.sm="95%" class="content">
    <mat-toolbar class="toolbar">
      <span>Hi {{localstorageJSON.displayName}}! 👋</span>
      <span class="example-spacer"></span>
      <!--      <div-->
      <!--        [matMenuTriggerFor]="menu"-->
      <!--        mat-card-avatar class="example-header-image"-->
      <!--           [ngStyle]="{'background-image': 'url(' + localstorageJSON.photoURL + ')'}">-->
      <!--      </div>-->
      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="openDialog()">
          <mat-icon>add</mat-icon>
          <span>Add Race</span>
        </button>
        <button mat-menu-item (click)="authService.signOut()">
          <mat-icon>logout</mat-icon>
          <span>Log Out</span>
        </button>
      </mat-menu>
    </mat-toolbar>
    <div fxLayout="row wrap" fxLayoutGap="16px grid" class="main-content">
      <div *ngIf="loading" class="loading">
        <mat-spinner></mat-spinner>
      </div>
      <mat-accordion class="example-headers-align" fxFlex="100%" fxFlex.xs="100%" fxFlex.sm="100%" multi>
        <div>
          <mat-expansion-panel
            class="example-headers-align"
            *ngFor="let year of allRacesByYear; let i = index">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <b>{{year.date}}</b>
              </mat-panel-title>
              <mat-panel-description>
                <b>
                  <small>
                    <div *ngIf="year.races.length == 1">
                      {{year.races.length}} carrera
                    </div>
                    <div *ngIf="year.races.length > 1">
                      {{year.races.length}} carreras
                    </div>
                  </small>
                </b>
              </mat-panel-description>
            </mat-expansion-panel-header>
            <div fxLayout="row wrap" fxLayoutGap="16px grid" fxLayoutAlign="space-evenly">
              <div fxFlex="30%" fxFlex.xs="100%" fxFlex.sm="100%" *ngFor="let race of year.races">
                <div
                  class="top-bar-color"
                  [style.background-color]="race.color"
                ></div>
                <mat-card class="mat-elevation-z6">
                  <mat-card-header>
                    <img mat-card-avatar src="../../../assets/mountain-icon.png"
                         alt="Mountain Icon">
                    <mat-card-title>{{race.name}}</mat-card-title>
                    <mat-card-subtitle>{{race.date | date:'mediumDate'}}</mat-card-subtitle>
                  </mat-card-header>
                  <mat-card-content>
                    <p>
                      <b>Distancia:</b> {{race.distance}}k<br>
                      <b>Tiempo:</b> {{race.time}}<br>
                    </p>
                  </mat-card-content>
                  <mat-card-actions>
                  </mat-card-actions>
                </mat-card>
              </div>
            </div>
          </mat-expansion-panel>
        </div>
      </mat-accordion>
    </div>
  </div>
</div>
