<div class="all-container">
  <div fxFlex="80%" fxFlex.xs="95%" fxFlex.sm="95%" class="content">
    <mat-toolbar class="toolbar">
      <span>Hi {{localstorageJSON.displayName}}! 👋</span>
      <span class="example-spacer"></span>
      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="openDialog()">
          <mat-icon>add</mat-icon>
          <span>Add Race</span>
        </button>
        <button mat-menu-item (click)="authService.signOut()">
          <mat-icon>logout</mat-icon>
          <span>Log Out</span>
        </button>
      </mat-menu>
    </mat-toolbar>
    <div fxLayout="row wrap" fxLayoutGap="16px grid" class="main-content">
      <div *ngIf="loading" class="loading">
        <mat-spinner></mat-spinner>
      </div>
      <section class="example-section">
  <span class="example-list-section">
    <mat-checkbox class="example-margin"
                  [checked]="allComplete"
                  [indeterminate]="someComplete()"
                  (change)="setAll($event.checked)">
      All Years
    </mat-checkbox>
  </span>
        <span class="example-margin" *ngFor="let year of allRacesByYear">
        <mat-checkbox [(ngModel)]="year.show"
                      (ngModelChange)="updateAllComplete()">
          {{year.date}}
        </mat-checkbox>
  </span>
      </section>
      <div *ngFor="let year of allRacesByYear" fxFlex="100%" fxFlex.xs="100%" fxFlex.sm="100%">
        <div *ngIf="year.show">
          <mat-list>
            <mat-list-item>{{year.date}}</mat-list-item>
            <mat-divider></mat-divider>
          </mat-list>
          <div fxLayout="row wrap" fxLayoutGap="16px grid" fxLayoutAlign="start">
            <div fxFlex="30%" fxFlex.xs="100%" fxFlex.sm="100%" *ngFor="let race of year.races">
              <mat-card class="mat-elevation-z2" style="background-color: #004643">
                <mat-card-title style="color: #fffffe">{{race.name}}</mat-card-title>
                <mat-card-subtitle style="color: #fffffe">{{race.date | date:'mediumDate'}}</mat-card-subtitle>
                <mat-card-content>
                  <p style="color: #abd1c6">
                    <b>Distancia:</b> {{race.distance}}k<br>
                    <b>Tiempo:</b> {{race.time}}<br>
                  </p>
                </mat-card-content>
              </mat-card>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
