.example-headers-align {
  border: 5px black;
}

.white-row {
  background: #FFFFFF;
}

.grey-row {
  background: #f2f2f2;
}

.main-content {
  padding-top: 16px;
}

.toolbar {
  background: #ffffff;
  border-radius: 10px 10px 0 0;
}

.example-spacer {
  flex: 1 1 auto;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.all-container {
  padding-top: 10px;
  padding-bottom: 10px;
  margin: auto;
  min-height: 100%;
  background: #abd1c6;
}

mat-card {
  margin-bottom: 15px;
}

.example-section {
  margin: 12px 0;
}

.example-margin {
  margin: 0 12px;
}

.content {
  min-height: 90vh;
  margin: auto;
  background: #ffffff;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18)
}

.content > mat-card {
  width: 200px;
}

mat-spinner {
  margin: 0 auto;
}

.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.example-sidenav {
  padding: 20px;
}
