<div class="all-container">
  <div class="all-content" fxFlex="40%" fxFlex.xs="90%" fxFlex.sm="90%">
    <div class="container" id="container">
      <div class="form-container sign-in-container">
        <form action="#">
          <h1>Sign in</h1>
          <div class="social-container">
            <cool-google-button color="dark" (click)="authService.googleAuth()">
              Login with Google
            </cool-google-button>
          </div>
          <span>or use your account</span>
          <input type="email" placeholder="Email" #email/>
          <input type="password" placeholder="Password" #password />
          <a routerLink="/forgot-password" href="#">Forgot your password?</a>
          <button (click)="authService.signIn(email.value, password.value)">Sign In</button>
          <a routerLink="/sign-up">Crear una cuenta</a>
        </form>
      </div>
    </div>
  </div>
</div>
